<h1>User Details</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role.text %> (<%= @user.role %>)
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status.text %> (<%= @user.status %>)
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @user.hobbies.map { |h| "#{h.text} (#{h})" }.join(', ') %>
</p>

<h3>Enumerize Features Test</h3>
<ul>
  <li>Is admin?: <%= @user.admin? %></li>
  <li>Is manager?: <%= @user.manager? %></li>
  <li>Is employee?: <%= @user.employee? %></li>
  <li>Is intern?: <%= @user.intern? %></li>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back to List', users_path %>